My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "b876993c-e499-4452-84b2-cba0677f2e01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        112
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/reviews?asin=B123456789",
        "options": {}
      },
      "id": "bbc06450-fb8a-47bf-af91-61b270213330",
      "name": "Fetch Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -832,
        96
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "requestOptions": {}
      },
      "id": "87c78c5a-e1fc-49ea-b168-0fec06ace472",
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -624,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "7E0LCHQhPh3WD19m",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Amazon",
        "options": {}
      },
      "id": "4782a3bf-8fa2-4e2c-b341-9dadd4880eaf",
      "name": "Create a spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -384,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UoxT3yoPCyw8JkKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Analyze Sentiment\"].json[\"sentiment\"] === \"negative\" && $node[\"Fetch Reviews\"].json[\"reviews\"].length > 10}}",
              "value2": true
            }
          ]
        }
      },
      "id": "ccab25d9-e54e-463b-83da-0c3dc2c848b1",
      "name": "Spike Detection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -368,
        48
      ]
    },
    {
      "parameters": {
        "channel": "C09711SLRCL",
        "text": "The weather is",
        "otherOptions": {},
        "attachments": []
      },
      "id": "1a6f6a1b-bc1c-4b58-b202-2da7a7447542",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -64,
        112
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "slackApi": {
          "id": "HMJFh6U1DMMPgSkj",
          "name": "Slack account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reviews": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Create a spreadsheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spike Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spike Detection": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a spreadsheet": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b1ef060-de28-4580-b33a-1a004d5c1c4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1e430aaa789e85174e35bf26cc23c6636366f69f2801d86d09a67dbdf9b818c"
  },
  "id": "UxnvthafqYEfjxHV",
  "tags": []
}